<%# login form %>
<% provide(:title, "Log in") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h1>Log in</h1><br>
          <%= form_for(:session, url: login_path) do |f| %>
  <div class="input-group input-group-lg">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <%= f.email_field :email, class: 'form-control', placeholder:'Email' , :required => true %>
  </div><br>
  <div class="input-group input-group-lg">
    <span class="input-group-addon">
    <i class="glyphicon glyphicon-lock"></i></span>
    <%= f.password_field :password, class: 'form-control', placeholder:'Password' , :required => true %>
  </div>
  <br>
  <%= f.label :remember_me, class: "checkbox inline" do %>
    <%= f.check_box :remember_me %>
    <span>Remember me on this computer</span><br>
  <% end %>
<br>
  <%= f.submit "Log in", class: "btn btn-lg" %>
<% end %><br>
    <p>New user? <button type="button" style="background-color: #fff; color: #000 !important" class="btn btn-sm" data-toggle="modal" data-target="#signUpPage">Sign Up now!</button></p>
        <div class="modal fade" id="signUpPage" role="dialog">  <!-- Modal -->
          <div class="modal-dialog modal-lg">
              <!-- Modal content-->
              <div class="modal-content animate">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title"><br>Become a Member !</h2>
                </div>
                <div class="modal-body">
                    <%= render :file => 'users/new.html.erb' %>
                </div>
              </div>
          </div>
        </div>
  </div>
          </div>
</div>
      
</div>
