<% provide(:title, @user.name) %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
    <div>
      <section class="user_info">
        <h1>
          <span class="avatar" ><%= image_tag(current_user.avatar.url(:thumb)) %></span>
          <%= @user.name %> <br>
        </h1>
        <h4>
          <span class="badge"><%= @user.reviews.count %></span> Reviews
        </h4>
      </section>
      </div>
      <% if @user == current_user %>
      <% if current_user.admin?%>
        <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#addHotel"><span class="glyphicon glyphicon-plus"></span> Add new Hotel</button>
        <div id="addHotel" class="modal fade" role="dialog">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><br>Add a new Hotel</h4>
              </div>
              <div class="modal-body">
                <%= render 'shared/hotel_form'%>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#reviewHotel"><i class="fa fa-comment-o" aria-hidden="true"></i>  Review a Hotel</button>
        <div id="reviewHotel" class="modal fade" role="dialog">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><br>Review a Hotel</h4>
              </div>
              <div class="modal-body">
                <%= render 'shared/review_form'%>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </aside>

    <div class="col-md-8">
        <h3>My Reviews <i class="fa fa-comments-o" aria-hidden="true"></i></h3>
        <%= render 'shared/feed' %>
    </div>
  </div>
<% end %>