<% provide(:title, @hotel.name) %>
<div class="row">
  <aside class="col-md-4">
    <h1><%= @hotel.name%></h1>

	<h2> <%= @hotel.city %></h2>
  </aside>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
     
      <section class="review_form">
        <%= render 'shared/review_form' %>
      </section>
    </aside>
  </div>
<% end %>

  <div class="col-md-8">
    <% if @hotel.reviews.any? %>
      <h3>Reviews (<%= @hotel.reviews.count %>)</h3>
      <ol class="reviews">
        <%= render @reviews %>
      </ol>
      <%= will_paginate @reviews %>
    <% end %>
  </div>
</div>