<% provide(:title, @hotel.name) %>
<% if logged_in? %>
<div class="row">
  <div class="col-sm-4">
    <div class="well">
       <h1><%= @hotel.name%></h1>
      <h2> <%= image_tag("map.png", :alt => "map") %> <%= @hotel.city %></h2>   
      <h2> <span class="glyphicon glyphicon-certificate"></span> Ranked <%= @hotel.rank.ordinalize %> by customers</h2><br>
      <div class="progress">
          <div class="progress-bar" role="progressbar" style="width:40%; background-color:#00C851" data-toggle="tooltip" title="Positive">
          </div>
          <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 20%;background-color:#ffbb33" data-toggle="tooltip" title="Neutral">
          </div>
          <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 10%; background-color:#ff4444" data-toggle="tooltip" title="Negative">
          </div>
      </div>
    </div>
    
      Amenities : 
      <br>
      <div class="amenity">
        <%= image_tag("wifi.png", :alt => "WiFi") %>
        <%= image_tag("tv.png", :alt => "TV") %>
        <%= image_tag("service.png", :alt => "24 hr Service") %>
        <%= image_tag("swimming.png", :alt => "Pool") %>
        <%= image_tag("ac.png", :alt => "AC") %>
        <%= image_tag("carts.png", :alt => "Room Service") %>
        <%= image_tag("food.png", :alt => "Food") %>
        <%= image_tag("parking.png", :alt => "Parking") %>
      </div>
      <section class="review_form">
        <%= render 'shared/review_form' %>
      </section>
    </div>
  
  <div class="col-sm-5">
      <h3><%= pluralize(@hotel.reviews.count, 'Review') %> <small><span class="glyphicon glyphicon-comment"> </span></small></h3>
      <%= render 'shared/feed' %>
  </div>
  <div class="col-sm-3">
    <div class="thumbnail">
      <p>Photos:</p>
      <%= image_tag("b3.jpeg", :alt => "Hotel", :style =>{'width' => "400", 'height'=>"300"}) %>
      <p>interior</p>
    </div>
  </div>
  </div>
<% end %>

