<li id="review-<%=review.id %>">
 <div class="row">
        <div class="col-sm-11">
          <div class="well">
          <%= link_to gravatar_for(review.user,size: 30), review.user %>
	<span class="user"><%= link_to review.user.name, review.user %></span> |
	<span class="hotel"><%= link_to review.hotel.name, review.hotel %></span>
            	<span class="content"><%= review.content %></span>
	<span class="timestamp">
		<span class="glyphicon glyphicon-time"></span> Posted <%= time_ago_in_words(review.created_at) %> ago.
	</span>
          </div>
        </div>
</div>
</li>