<li id= "review-<%= review.id%>"> 
	<%= link_to gravatar_for(review.user, size: 50), review.user %>
	
	<span class="hotel"><%= link_to review.hotel.name, review.hotel %></span>
	<span class="content"><%= review.content%></span>
	<span class="timestamp">
		Posted by <span class="user"><%= link_to review.user.name, review.user %></span> 
		<%= time_ago_in_words(review.created_at)%> ago.
	</span>
</li>