<!DOCTYPE html>
<html>
  <head>
    <title>SentimentAnalysis</title>
    <%= csrf_meta_tags %>

   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <%= stylesheet_link_tag    'application', media: 'all','data-turbolinks-track': 'reload' %>
    <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  </head>

  <body>
   <!-- SCRIPTS -->
     <%= render 'layouts/header' %>
    <div class="container">
       <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

      <%= yield %>
      <%= render 'layouts/footer'%>
      <%= debug(params) if Rails.env.developement? %>
    </div>
  </body>
</html>
